# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

For this section, perform the necessary calculations and then create a high-level snapshot of the district's key metrics in a DataFrame, making sure to include the following:

 - calculation of the total number of unique schools
 - calculation of the total students
 - calculation of the average math score
 - calculation of the average reading score
 - calculation of the percentage of students with a passing math score (70% or greater)
 - calculation of the percentage of students with a passing reading score (70% or greater)
 - calculation of the percentage of the overall passing rate (overall average score) --> (average math score + averaage reading score)/2

In [2]:
# Calculate the total number of unique schools
total_school_count = len(school_data_complete["School ID"].unique())
total_school_count

15

In [3]:
# Calculate the total number of students
student_count = len(school_data_complete["Student ID"].unique())
student_count

39170

In [4]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [5]:
# Calculate the average (mean) math score
average_math_score = student_data["math_score"].mean()
average_math_score

78.98537145774827

In [6]:
# Calculate the average (mean) reading score
average_reading_score = student_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["Student ID"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count / float(student_count) * 100
overall_passing_rate

65.17232575950983

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame([{"Total Schools": total_school_count,
                    "Total Students": student_count,
                    "Total Budget":total_budget,
                     "Average Math Score": round(average_math_score,2),
                    "Average Reading Score": round(average_reading_score,2),
                    "% Passing Math": round(passing_math_percentage,2),
                    "% Passing Reading": round(passing_reading_percentage,2),
                    "% Overall Passing Rate": round(overall_passing_rate,2)}])
district_summary_table = pd.DataFrame(district_summary)

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,.0f}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.2f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.2f}%".format)
district_summary["% Overall Passing Rate"] = district_summary["% Overall Passing Rate"].map("{:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17

## School Summary

 - Create an overview table that summarizes the key points about each school, including the following:
 
     - School name
     - School type
     - Total Students
     - Total School Budget
     - Per Student Budget
     - Average Math Score
     - Average Reading Score
     - Percentage Passing Math
     - Percentage Passing Reading
     - Overall Passing Rate (Average of the Percentages of those Passing Reading AND Math)
     
 - Create a dataframe that holds the results above

In [11]:
# Create a chart that sorts the schools by name
per_school_summary = school_data_complete.set_index("school_name").groupby(["school_name"])
per_school_summary

# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [12]:
# Calculate the total student count
per_school_counts = per_school_summary["student_name"].count()
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [13]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [24]:
# Calculate the average test scores
per_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete.groupby(["school_name"]).mean(["reading_score"])

In [23]:
# Calculate the number of schools with math scores of 70 or higher
school_passing_math = [(school_data_complete["math_score"] >= 70)]

In [22]:
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = [(school_data_complete["reading_score"] >= 70)]

In [25]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
per_school_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
per_school_passing_math_and_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [34]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

AttributeError: 'list' object has no attribute 'groupby'

In [38]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({"School Type": school_types, 
                                   "Total Students": per_school_counts, 
                                   "Total School Budget": per_school_budget,
                                   "Per Student Budget": per_school_capita, 
                                   "Average Math Score": round(per_school_math,2), 
                                   "Average Reading Score": round(per_school_reading,2), 
                                   "% Passing Math": round(per_school_passing_math,2), 
                                   "% Passing Reading": round(per_school_passing_reading,2), 
                                   "% Overall Passing Rate": round(per_school_passing_math_and_reading,2)})
per_school_summary = pd.DataFrame(per_school_summary)

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary

# Display the DataFrame
per_school_summary

NameError: name 'per_school_passing_math' is not defined

## Highest-Performing Schools (by % Overall Passing)

In [39]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_five_schools_df = pd.DataFrame({"School Type": school_types, 
                                   "Total Students": per_school_counts, 
                                   "Total School Budget": per_school_budget,
                                   "Per Student Budget": per_school_capita, 
                                   "Average Math Score": round(per_school_math,2), 
                                   "Average Reading Score": round(per_school_reading,2), 
                                   "% Passing Math": round(per_school_passing_math,2), 
                                   "% Passing Reading": round(per_school_passing_reading,2), 
                                   "% Overall Passing Rate": round(per_school_passing_math_and_reading,2)})

top_five_schools_df = per_school_summary.sort_values(["% Overall Passing Rate"], ascending=False)

top_five_schools_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format)
top_five_schools_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.2f}".format)

top_five_schools_df[["School Type",
                    "Total Students",
                    "Per Student Budget",
                    "Average Math Score"
                    "Average Reading Score"
                    "% Passing Math"
                    "% Passing Reading"
                    "% Overall Passing Rate"]].head()

NameError: name 'per_school_passing_math' is not defined

## Bottom Performing Schools (By % Overall Passing)

In [42]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_five_schools = top_five_schools_df.sort_values(["% Overall Passing Rate"], ascending=True)

bottom_five_schools[["School Type",
                    "Total Students",
                    "Per Student Budget",
                    "Average Math Score"
                    "Average Reading Score"
                    "% Passing Math"
                    "% Passing Reading"
                    "% Overall Passing Rate"]].head()

NameError: name 'top_five_schools_df' is not defined

## Math Scores by Grade

 - Use the code provided to separate the data by:
  - grade level
  - group each series by school
  - combine the series into a dataframe called 'math_scores_by_grade'

In [43]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()

# Use the code to select only the `math_score`.
ninth_grader_math_scores = ninth_graders_scores["math_score"]
tenth_grader_math_scores = tenth_graders_scores["math_score"]
eleventh_grader_math_scores = eleventh_graders_scores.mean()["math_score"]
twelfth_grader_math_scores = twelfth_graders_scores["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame ({"9th": ninth_grader_math_scores, "10th": tenth_grader_math_scores, 
                                      "11th": eleventh_grader_math_scores, "12th": twelfth_grader_math_scores})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  80.575873  76.492218
Cabrera High School    83.094697  83.154506  80.575873  83.277487
Figueroa High School   76.403037  76.539974  80.575873  77.151369
Ford High School       77.361345  77.672316  80.575873  76.179963
Griffin High School    82.044010  84.229064  80.575873  83.356164
Hernandez High School  77.438495  77.337408  80.575873  77.186567
Holden High School     83.787402  83.429825  80.575873  82.855422
Huang High School      77.027251  75.908735  80.575873  77.225641
Johnson High School    77.187857  76.691117  80.575873  76.863248
Pena High School       83.625455  83.372000  80.575873  84.121547
Rodriguez High School  76.859966  76.612500  80.575873  77.690748
Shelton High School    83.420755  82.917411  80.575873  83.778976
Thomas High School     83.590022  83.087886  80.575873  83.497041
Wilson High School     83.085578  83.724422  80.575873  83.035794
Wright High School     83.264706  84.010288  80.575873  83.644986

## Reading Score by Grade 

- Again, use the code provided to separate the data by:
 - grade level
 - group each series by school
 - combine the series into a dataframe called 'reading_scores_by_grade'

In [44]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()

# Use the code to select only the `reading_score`.
ninth_grader_reading_scores = ninth_graders_scores["reading_score"]
tenth_grader_reading_scores = tenth_graders_scores["reading_score"]
eleventh_grader_reading_scores = eleventh_graders_scores.mean()["reading_score"]
twelfth_grader_reading_scores = twelfth_graders_scores["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame ({"9th": ninth_grader_reading_scores, "10th": tenth_grader_reading_scores,
                                         "11th": eleventh_grader_reading_scores, "12th": twelfth_grader_reading_scores})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  82.559485  80.912451
Cabrera High School    83.676136  84.253219  82.559485  84.287958
Figueroa High School   81.198598  81.408912  82.559485  81.384863
Ford High School       80.632653  81.262712  82.559485  80.662338
Griffin High School    83.369193  83.706897  82.559485  84.013699
Hernandez High School  80.866860  80.660147  82.559485  80.857143
Holden High School     83.677165  83.324561  82.559485  84.698795
Huang High School      81.290284  81.512386  82.559485  80.305983
Johnson High School    81.260714  80.773431  82.559485  81.227564
Pena High School       83.807273  83.612000  82.559485  84.591160
Rodriguez High School  80.993127  80.629808  82.559485  80.376426
Shelton High School    84.122642  83.441964  82.559485  82.781671
Thomas High School     83.728850  84.254157  82.559485  83.831361
Wilson High School     83.939778  84.021452  82.559485  84.317673
Wright High School     83.833333  83.812757  82.559485  84.073171

## Scores by School Spending

- use 'pd.cut' with the provided code to bin the data by the spending ranges
- use the code provided to calculate the averages
- create a 'spending_summary' dataframe using the binned and averaged spending data

In [ ]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [46]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_summary_df = per_school_summary.copy()

AttributeError: 'DataFrameGroupBy' object has no attribute 'copy'

In [ ]:
school_spending_summary_df["Per Student"]

In [50]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels = labels)
school_spending_df

NameError: name 'spending_bins' is not defined

In [49]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

NameError: name 'school_spending_df' is not defined

In [48]:
# Assemble into DataFrame
school_spending_summary = pd.DataFrame({"Average Math Score": spending_math_scores, "Average Reading Score": spending_reading_scores, 
                                 "% Passing Math": spending_passing_math, "% Passing Reading": spending_passing_reading, 
                                 "Overall Passing Rate": overall_passing_spending})

# Display results
spending_summary_df[["Average Math Score",
                    "Average Reading Score",
                    "% Passing Math",
                    "% Passing Reading",
                    "% Overall Passing Rate"]]

NameError: name 'spending_math_scores' is not defined

## Scores by School Size

- use 'pd.cut' with the provided code to bin the data by the spending ranges
- use the code provided to calculate the averages
- create a 'size_summary' dataframe using the binned and averaged spending data

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Students"], size_bins, labels = group_names)
per_school_summary_df

In [52]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing"]

AttributeError: 'DataFrameGroupBy' object has no attribute 'groupby'

In [51]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
size_summary = pd.DataFrame({"Average Math Score": size_math_scores, "Average Reading Score": size_reading_scores, 
                                 "% Passing Math": size_passing_math, "% Passing Reading": size_passing_reading, 
                                 "Overall Passing Rate": size_overall_passing})

# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({"Average Math Score": size_math_scores, "Average Reading Score": size_reading_scores, 
                                 "% Passing Math": size_passing_math, "% Passing Reading": size_passing_reading, 
                                 "Overall Passing Rate": size_overall_passing})

# Display results
size_summary_df = [["Average Math Score",
                    "Average Reading Score",
                    "% Passing Math",
                    "% Passing Reading",
                    "% Overall Passing Rate"]]

NameError: name 'size_math_scores' is not defined

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = size_summary.groupby(["type"]).mean()["Average Math Score"]
type_reading_scores = size_summary.groupby(["type"]).mean()["Average Reading Score"]
type_passing_math = size_summary.groupby(["type"]).mean()["% Passing Math"]
type_passing_reading = size_summary.groupby(["type"]).mean()["% Passing Reading"]
type_overall_passing = (type_passing_math + type_passing_reading)/2
tyype_overall_passing

# Use the code provided to select new column data
average_math_score_by_type = type_math_scores["Average Math Score"]
average_reading_score_by_type = type_reading_scores["Average Reading Score"]
average_percent_passing_math_by_type = type_passing_math["% Passing Math"]
average_percent_passing_reading_by_type = type_passing_reading["% Passing Reading"]
average_percent_overall_passing_by_type = type_overall_passing["% Overall Passing"]

In [53]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
    "Average Math Score": average_math_score_by_type,
    "Average Reading Score": average_reading_score_by_type,
    "% Passing Math": average_percent_passing_math_by_type,
    "% Passing Reading": average_percent_passing_reading_by_type,
    "% Overall Passing": average_percent_overall_passing_by_type})

# Some more minor data wrangling
type_summary = type_summ

# Display results
type_summary_df = [["Average Math Score",
                    "Average Reading Score",
                    "% Passing Math",
                    "% Passing Reading",
                    "% Overall Passing Rate"]]

NameError: name 'average_math_score_by_type' is not defined

## My Analysis

- Overall, students within charter schools had a better performance on (all) scores in comparison to students within district schools. Such can also be indicated when looking over both the top five and bottom five performing schools; with charter schools populating the top 5 performing and district schools populating the bottom 5 performing schools.
- From the data, it can be further inferred that:
    - The amount of money spent had little impact on the overall percentage passing rates of students in both math and reading scores, with variance being only by a few percentage points (<5% between the most and least in spending ranges (per student)).
    - Conversely, it was evident that size of school served as a huge factor in the students' performances in their math and reading tests. Such can be indicated through 'Scores by School Size' chart, more specifically comparing the small sized schools to the larger sized schools.
        - Less students within the school means more $ per student which = more help/support for their academic needs?
    - Generally, students performed relatively consistently across grade levels for both math and reading. Such can be indicated by reviewing the math scores and reading scores by grade levels